<h1>Updated Dalamud Plugin Pull Requests</h1>

<table>
<thead>
    <tr>
        <th>Title</th>
        <th>Submitter</th>
        <th>Labels</th>
    </tr>
</thead>
<tbody>
    {{range .Plogons}}
    <tr>
        <td><a href="{{.URL}}">{{.Title}}</a></td>
        <td>{{.Submitter}}</td>
        <td>
        {{range .Labels}}
            <span style="color: #{{.Color}};">{{.Name}}&nbsp;</span>
        {{end}}
        </td>
    </tr>
    {{end}}
</tbody>
</table>